<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.realsoft.dev/v1/" target="_blank">
                        Real Software Solutions
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.realsoft.dev/v1/" target="_blank">Real Software Solutions</a>.
        </div>
    </div>
</footer>