<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-info text-center">
            <strong> Cargando </strong>
            <br><br>
            <!-- <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div> -->
            <div class="spinner-grow text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <br><br>
            <strong> Espere por favor</strong>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title ">Técnicos
                </h4>
                <p class="card-category"> Técnicos activos del sistema</p>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th> Identificador </th>
                            <th> NIT </th>
                            <th> Nombre Completo </th>
                            <th> Telefono </th>
                            <th> Estado </th>
                            <th width="150px"> Acciones </th>
                        </thead>
                        <tbody class="text-dark">
                            <tr *ngFor="let technical of technicians">
                                <td> {{ technical.technicalIdCompany }} </td>
                                <td> {{ technical.bussinessPartner.nit }} </td>
                                <td> {{ technical.bussinessPartner.firstName + ' ' + technical.bussinessPartner.lastName }}
                                </td>
                                <td> {{ technical.bussinessPartner.telephone }} </td>
                                <td>
                                    <h4> <span *ngIf="technical.status == 'ACTIVE'" class=" badge badge-pill badge-success">Activo</span> </h4>
                                    <h4> <span *ngIf="technical.status == 'INACTIVE'" class=" badge badge-pill badge-danger">Inactivo</span> </h4>
                                </td>
                                <td>
                                    <button (click)="showModalUpdate(technical)" mat-raised-button type="button" matTooltip="Editar" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </button>
                                    <button (click)="borrarTecnico(technical)" mat-raised-button type="button" matTooltip="Eliminar" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update Technical -->
<div class="fondo-negro animated fadeIn" [ngClass]="modalUpdate">
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b> <i class="fa fa-edit"> </i> Actualizar Datos de Técnico</b></h5>
                    <button (click)="hideModalUpdate()" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form ngNativeValidate #fTechnical="ngForm" (ngSubmit)="actualizarTecnico(fTechnical.value)" class="form-horizontal" autocomplete="off">

                    <div class="modal-body">

                        <input [ngModel]="technical.id" name="id" type="hidden">

                        <div class="form-group">
                            <label class="bmd-label-floating"> Codigo Técnico Interno *</label>
                            <div class="col-md-12">
                                <input [ngModel]="technical.technicalIdCompany" name="technicalIdCompany" type="text" class="form-control" placeholder="Ej: 4528..." required>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            <span class="btn-label">
                                <i class="material-icons">check</i>
                            </span>
                            Guardar
                        </button>
                        <button (click)="hideModalUpdate()" type="button" class="btn">
                            <span class="btn-label">
                                <i class="material-icons">close</i>
                            </span>
                            Cerrar
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>